<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Комп'ютерні комплектуючі</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
</head>
<div id="productId" th:attr="data-product-id=${id}"></div>

<body>
    <header>
        <div class="top-bar">
            <div class="login-register">
                <a href="/cabinet"><i class="fas fa-user"></i></a><a href="/login">Логін/Реєстрація</a>
            </div>
            <div class="phone">
                <i class="fas fa-phone-alt"></i> +380947685198
            </div>
            <div class="email">
                <i class="far fa-envelope"></i> info@gmail.com
            </div>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </div>
    </header>
    <div class="menu-bar">
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="#">Новинки</a></li>
        </ul>
        <button><a class="basket" href="/basket">Оформити замовлення</a></button>
    </div>
    <div class="full-width-image">
        <img src="/img/banner.jpg" alt="Фото">
        <p class="name-full-window">Відеокарта MSI GeForce RTX3060 12Gb <br> VENTUS 2X OC (RTX 3060 VENTUS 2X 12G OC)</p>
    </div>
    <div class="product-container">
        <div class="product-image">
            <img th:src="@{/images/{id}(id=${product.previewImage})}" alt="Товар">
            <div class="product-images">
                <div th:each="imageId : ${product.images}">
                    <img th:src="@{/images/{id}(id=${imageId})}" alt="Фото">
                </div>
            </div>
        </div>
        <div class="product-details">
            <h2 th:text="${product.title}"></h2>
            <div class="rating" th:utext="${'★'.repeat(product.rating) + '☆'.repeat(5 - product.rating)}">★★★★★</div>
            <div class="product-guaranty">Гарантія: 12 місяців</div>
            <div class="product-title-big"><span style="font-size:15px">Ціна <br></span><span th:text="${product.price}"></span> грн</div>
            <div class="by-btn-product"><button class="by-on-produst" id="buy-button">Купити</button></div>
            <div class="product-actions">
                <div class="action">
                    <i class="fas fa-star"></i>
                    <span style="color:#ff0000; cursor:pointer;" id="save-button">Зберегти</span>
                </div>
                <div class="action">
                    <i class="fas fa-share-alt"></i> <span>Поділитись</span>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const rating = [[${product.rating}]]
                const filledStars = '★'.repeat(rating)
                const emptyStars = '☆'.repeat(5 - rating)
                document.querySelector('.rating').innerHTML = filledStars + emptyStars
            })
        </script>
    </div>
    <div class="product-description">
        <h2>Опис</h2>
        <div class="product-descr">
            <p th:text="${product.description}">опис товару</p>
        </div>
    </div>

    <div class="reviews-container">
        <h2>Відгуки</h2>
        <div class="reviews-list" id="reviews-list">

        </div>
        <button id="new-review-button">Додати відгук</button>
    </div>

    <div class="qa-container">
        <h2>Питання та відповіді</h2>
        <div class="qa-list" id="qa-list">

        </div>
        <button id="new-qa-button">Задати питання</button>
    </div>

    <div class="recommended-products">
        <h2>Рекомендовані товари</h2>
        <div class="recomended-card" id="recomended-card">

        </div>
    </div>
    <footer>
        <div class="footer-content">
            <p class="copyright">2024 всі права захищені</p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-pinterest"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </div>
    </footer>
    <script type="module" src="../js/product.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.product-images').slick({
            dots: false,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: true,
            autoplay: false,
            autoplaySpeed: 2000,
            arrows: true,
            prevArrow: '<button type="button" class="slick-prev">Previous</button>',
            nextArrow: '<button type="button" class="slick-next">Next</button>'
        });
    });
    </script>
</body>

</html>